name: Build, Test & Push

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven  # aktiviert automatisch den Cache für Abhängigkeiten

    #Tests ausführen & JaCoCo Report generieren
    - name: Run Tests and Generate Coverage
      run: mvn clean verify

    - name: Upload JaCoCo Coverage Report
      uses: actions/upload-artifact@v4
      with:
        name: jacoco-report-${{ github.event.repository.name }}
        path: "**/target/site/jacoco/"
        retention-days: 5

    - name: Login to Docker Hub
      if: github.event_name != 'pull_request'
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and Push Docker Image
      if: github.event_name != 'pull_request'
      run: |
        mvn spring-boot:build-image \
          -DskipTests \
          -Ddocker.publish.username=${{ secrets.DOCKERHUB_USERNAME }} \
          -Ddocker.publish.password=${{ secrets.DOCKERHUB_TOKEN }}
